@media (min-width: 769px) {

    .MenuList li {
        list-style-type: none;
        color: #8FBC8F;
    }

    .MenuList {
        display: flex;
        justify-content: space-between;
        width: 33%;
    }
}

@media (max-width: 769px) {
    .MenuList {
        display: none;
    }
}

.MenuList li:hover {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
    cursor: pointer;
}
