.Navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
    background: #fff;
    padding: 0 1em;
    margin-bottom: 2em;
    border-bottom: 1px solid #e6e7ea;
}

