.Navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
    background: darkseagreen;
    padding: 0 1em;
    margin-bottom: 2em;
    border-radius: .5em;
}

