.Navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
    background: darkseagreen;
    padding: 0px 15px;
    margin-bottom: 20px;
    border-radius: .5em;
}

