.PlantLine{
    background: #ffffff;
    border-radius: 0.25rem;
    margin: 0.25rem;
    display: flex;
    width: 100%;
    box-shadow: 0 0.5px 3px #d4d8e8;
    contain: content;
    align-items: center;
    justify-content: space-between;
    padding-right: 1rem;
}

@media (min-width: 1025px) {
    .PlantLine {
        width: 60%;
    }
}

.PlantLine:hover {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
}

.PlantInfo img {
    height: 6rem;
    width: 6rem;
    object-fit: cover;
    margin: 0 1rem 0 0;
}

.PlantInfo {
    display: flex;
    align-items: center;
}

.PlantInfo h3, p {
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
}

.removeButton {
    color: grey;
    border: none;
    background: none;
    margin: 1rem;
    font-weight: 400;
}

.removeButton:hover {
    color: #f81a09;
    background: none;
}

.hide {
   display: none;
}