@media (min-width: 500px) {
    .searchBarForm {
        border: .5px solid #8FBC8F;
        border-radius: 20px;
    }

    .searchBar {
        border: none;
        outline: none;
        margin: 5px;
        background: #fff;
    }
}

@media (max-width: 500px) {
    .searchBarForm {
        display: none;
    }
}