.Table {
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 0 3em 0;
    padding: 0;
}

.TableHeader {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background: silver;
    border-radius: .5em;
}

.TableHeader h4 {
    margin: .25em;
}
